<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all games</title>
</head>
<body>

<h1>Overview of all games</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Type</th>
        <th>Unused</th>
        <th>Generated</th>
        <th>USE</th>
    </tr>
    <tr th:each="game : ${allGames}">
        <td th:text="${game.getTitle()}"></td>
        <td th:text="${game.getGenre()}"></td>
        <td th:text="${game.getType()}"></td>
        <td th:text="${game.getNumberOfUnusedKeys()}"></td>
        <td th:text="${game.getTotalNumberOfGeneratedKeys()}"></td>
        <td><a th:href="@{/gameKey/new/{gameId}(gameId = ${game.gameId})}">USE</a></td>


    </tr>
</table>
<p>
    <a th:href="@{/game/new}">Add a new game</a>
</p>

</body>
</html>