<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Genre Overview</title>
</head>
<body>

<h1>Overview of all the genres known in the library</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <tr th:each="genre : ${allGenres}">
    <td th:text="${genre.name}"></td>
    <td></td>
  </tr>
  <form th:action="@{/genre/new}" method="post" th:object="${newGenres}">
    <tr>
      <td><input type="text" th:field="*{name}"></td>
      <td><input type="submit" value="Save new genre"></td>
    </tr>
  </form>

</table>
</body>
</html>